<mat-card class="cards">
  <mat-card-title>Title card</mat-card-title>
  <mat-card-subtitle>Sub title content In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready. </mat-card-subtitle>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource ">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef> first_name </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.first_name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef> last_name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ip_address">
      <mat-header-cell *matHeaderCellDef> ip_address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ip_address}} </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">

    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="openDialog()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="accent" class="cursorOn" (click)="editUser(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="deleteUser(row.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!--<mat-row class="cursorOn" (click)="editUser(row)"  *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
    <mat-row   *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 30]">
  </mat-paginator>
</div>
</mat-card>
