<mat-card class="cards">
  <mat-card-title>Title card</mat-card-title>
  <mat-card-subtitle>Sub title content In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready. </mat-card-subtitle>
  <mat-card-header>
  <img mat-card-avatar src="https://source.unsplash.com/random/200x200">

  <mat-card-title>Title card</mat-card-title>
  <mat-card-subtitle>Sub title content</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://source.unsplash.com/random" id="img1">-->
  <mat-card-content>
    In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready. Think of a news blog that's filled with content hourly on the day of going live. However, reviewers tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the internet. The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.
  </mat-card-content>
</mat-card>

<mat-card class="cards">
  <mat-button-toggle-group>
    <mat-button-toggle>Small</mat-button-toggle>
    <mat-button-toggle>Medium</mat-button-toggle>
    <mat-button-toggle>Large</mat-button-toggle>
    <mat-button-toggle disabled>X-Large</mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<mat-card class="cards">
  <mat-button-toggle-group>
    <mat-button-toggle value="good"><mat-icon>thumb_down</mat-icon></mat-button-toggle>
    <mat-button-toggle value="bad"><mat-icon>thumb_up</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <mat-chip-list>
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected="true">Primary fish</mat-chip>
    <mat-chip color="accent" selected="true">Accent fish</mat-chip>
  </mat-chip-list>

</mat-card>

<mat-card>
  <mat-checkbox indeterminate="isIndeterminate">
    Inderterminate
  </mat-checkbox>
  <mat-checkbox [checked]="isChecked">
    Checked already
  </mat-checkbox>
  <mat-checkbox>
    Unchecked
  </mat-checkbox>
</mat-card>
